/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}
/****** Header ***********/
header {
  display: flex;
  padding-right: 0px;
  align-items: flex-start;
  justify-content: space-between;
}

header img {
  width: 61.09px;
  height: 19px;
  padding: 22px 0;
}

header nav {
  display: flex;
  gap: 68px;
}

header nav a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding-bottom: 0.875rem;
}

header nav a:hover {
  background-color: #fff;
  color: var(--Blue, #0065fc);
  text-decoration: overline var(--Blue, #0065fc);
  text-underline-offset: 0.875rem;
  text-decoration-thickness: 0.125rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/****** Header et info group ***********/
.container h2 {
  line-height: 30px;
}
.container p {
  line-height: 8px;
}

.filterbar {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding-top: 35px;
}

.filterbar .i {
  color: #0065fc;
}

.button-container {
  display: flex;
  gap: 15px;
}

.buttonfilterbar {
  height: 50px;
  display: inline-flex;
  width: 160px;
  padding: 4px 19px;
  gap: 10px;
  border-radius: 25px;
  border: 2px solid var(--grey-tint-2, #d9d9d9);
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.buttonfilterbar:hover {
  background-color: #deebff;
}

.search-bar {
  font-size: 18px;
  border: 1px;
  display: flex;
  width: 377px;
  height: 49px;
  align-items: center;
  gap: 24px;
  border-radius: 15px;
  border: 1px solid var(--Grey, #f2f2f2);
  background: var(--White, #fff);
  margin-top: 35px;
}

.search-bar button {
  background-color: #0065fc;
  color: white;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  padding: 15px 16px 15px 16px;
  border: 1px;
  width: 132px;
  border-radius: 0px 15px 15px 0px;
}

.search-bar .buttonloupe {
  display: none;
}

.search-bar ::placeholder {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.search-bar input {
  border: none;
}

.search-bar i {
  display: flex;
  width: 50px;
  height: 49px;
  border-radius: 15px 0px 0px 15px;
  border: 1px;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
}

.infobar {
  padding: 35px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 19px;
}

.infobar i {
  margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.hotel-info .i {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  background: url("images/hebergements"), lightgray 50% / cover no-repeat;
  width: 250.33px;
  height: 124px;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements ***********/

.hebergements-cards {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  gap: 30px;
}

.hebergements-cards .card {
  width: 250.33px;
  height: 207.25px;
}

.hebergements {
  width: 871px;
}

.hotel-info h3,
.hotel-info p {
  display: flex;
  margin: 0px 15px 8px 15px;
}

.card i:first-of-type {
  margin: 8px 0px 0px 15px;
}

.afficherplus {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hebergements-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités à Marseille ***********/
.activites {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 35px;
  margin: 30px;
}

.activites-card {
  display: flex;
  gap: 30px;
}
.activites-card .card {
  padding: 0;
}

.activites-card img {
  width: 297.5px;
  height: 380px;
}

.activites .card-title {
  padding: 20px 19px 20px 19px;
  border-radius: 0px 0px 20px 20px;
  gap: 10px;
}

.activites-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/****** Footer ***********/
ul {
  list-style: none;
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 0px;
}

.footer {
  display: grid;
  grid-template-areas: "apropos1 nosherbegements2 assistance3";
  background-color: #f2f2f2;
  margin-top: 35px;
  padding: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .hebergements {
    width: 100%;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /* ------ */

  header nav {
    gap: 68px;
  }

  .filterbar {
    padding-top: 20px;
  }

  .search-bar {
    margin-top: 20px;
  }

  .search-bar .buttonloupe {
    display: none;
  }

  .hebergements-cards {
    gap: 20px;
  }

  .activites-card {
    gap: 20px;
  }

  .card-title {
    width: 155px;
    height: 19px;
    display: flex;
    flex-direction: column-reverse;
  }

  .activites-card img {
    height: 200px;
    width: 193px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
  .main-container {
    padding: 0 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .container h2 {
    width: 335px;
    height: 25px;
  }

  .container p {
    width: 335px;
    height: 19px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }

  header img {
    padding: 20px;
  }

  header nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  header nav a:hover {
    text-decoration: none;
    border-bottom: 0.125rem solid #0065fc;
    padding-bottom: 0.875rem;
    width: 50%;
  }

  header nav a {
    margin-top: 10px;
    padding-bottom: 0.875rem;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0px -15px 0px -15px;
  }

  .search-bar {
    margin-top: 0px;
    width: 100%;
    max-width: 377px;
  }

  .search-bar input {
    width: 147px;
    height: 21px;
    padding: 13px;
  }

  .search-bar .buttonloupe {
    display: inline-flex;
    height: 49px;
    width: 49px;
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    background-color: #0065fc;
    border-radius: inherit;
    box-shadow: 3px 5px 5px #00000042;
    margin-right: 0px;
    margin-left: auto;
  }

  .search-bar .buttonsearch {
    display: none;
  }

  .search-bar .buttonloupe i {
    background-color: transparent;
  }

  .filterbar strong {
    width: 85px;
    height: 16px;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .buttonfilterbar {
    width: 150px;
  }

  .filterbar {
    padding-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
  }

  .filterbar h3 {
    margin: 10px;
  }

  .infobar {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .hebergements-cards {
    grid-template-columns: 100%;
    gap: 20px;
  }

  .populaires {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
  }

  .populaires-cards .card-title {
    margin-top: 15px;
  }

  .populaires-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
  }

  .populaires-cards a {
    width: 100%;
  }

  .activites-card {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
  }

  .activites .card-title {
    margin: 0px;
    font-size: 13px;
    padding: 10px 20px 19px 20px;
    width: 100%;
  }

  .activites-card img {
    width: 100%;
    height: 141px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    margin-left: -27px;
    margin-right: -27px;
  }

  .apropos1 {
    width: 100%;
  }
}
